@mixin media-query($media-query) {
  @if $media-query == large {
    @media only screen and (min-width: $bp-large) {
      @content;
    }
  }

  @if $media-query == medium {
    @media only screen and (min-width: $bp-medium) {
      @content;
    }
  }
}

@mixin medium() {
  @include media-query(medium) {
    @content;
  }
}

@mixin large() {
  @include media-query(large) {
    @content;
  }
}

@mixin aspect-ratio($width, $height) {
  position: relative;

  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }

  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}