// Breakpoints
$bp-medium: 768px !default;
$bp-large: 1200px !default;

// Containers
$ct-medium: 980px !default;

// Font Families
$ff-base: "Open Sans", sans-serif !default;

// Font Weights
$fw-light: 300 !default;
$fw-normal: 400 !default;
$fw-bold: 600 !default;
$fw-extra-bold: 700 !default;

// Font Sizes
$fs-base: 16px !default;

// Colors
$c-text: #000000 !default;
$c-background: #FFFFFF !default;